-e git+https://github.com/reclosedev/async_gui@master#egg=async_gui
certifi==2018.1.18
chardet==3.0.4
docutils==0.14
idna==2.6
Kivy==1.10.0
Kivy-Garden==0.1.4
-e git+https://gitlab.com/kivymd/KivyMD@master#egg=kivymd
Pygments==2.2.0
qrcode==5.3
requests==2.18.4
six==1.11.0
urllib3==1.22
