[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=nobody
Group=nogroup
RuntimeDirectory=gunicorn
WorkingDirectory=/home/cypher/nowallet
ExecStart=/usr/bin/gunicorn --pid /run/gunicorn/pid   \
          --bind unix:/home/cypher/nowallet/endpoint.sock server.global_app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
